@import "tailwindcss";

.font-dmsans{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.font-dynalight{
    font-family: "Dynalight", cursive;
  font-weight: 400;
  font-style: normal;
}